@media screen and (min-width: 768px) and (max-width: 1023px){
  .header {
    height: auto;
  }

  .header__menu {
    position: fixed;
    z-index: 1000;
  }
  
  .header__titulo {
    height: 200px;
    margin-top: calc(200px - 6rem);
    width: 100%;
    background-image: url(../img/patron1.jpg);
  }

  .header__fondo {
    align-items: center;
    padding: 0;
  }

  .about__contenedor {
    width: 100%;
  }

  .about__fundador {
    text-align: center;
  }
}