@media screen and (min-width: 768px) and (max-width: 1023px){
  /* Seccion tarjeta */
  
  .tarjeta {
    margin: 0;
    padding: 100px 0;
    height: auto;
  }

  .tarjeta__contenedor {
    height: 300px;
    width: 720px;
    border-radius: 24px;
    justify-content: center;
  }

  .tarjeta__logo img {
    height: 80px;
  }

  .tarjeta__info {
    width: 300px;
  }

  /* Seccion Nuestros Servicos */

  .servicios {
    height: auto;
  }

  .servicios__titulo {
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }

  .servicios__contenedor {
    flex-wrap: wrap;
    justify-content: center;
  }

  .servicios__contenedor-tarjeta {
    width: 350px;
  }

  /* Separador */
  
  .separador {
    height: auto;
    padding: 100px 0;
    /* top: 0; */
    position: static;
    align-items: center;
  }

  .separador-img {
    width: 100%;
    height: 230px;
    border-radius: 0;
  }

  .separador-contenedor {
    width: 100%;
    height: 230px;
  }

  .imagen {
    width: 100%;
    height: 100%;
  }

  .separador-frase {
    width: 100%;
    padding: 0 10px;
  }

  /* Seccion nuestra forma de trabajar */

  .trabajo {
    height: auto;
  }

  .titulo__trabajo {
    text-align: center;
  }

  .trabajo__contenedor {
    height: auto;
    margin: 40px 0;
  }

  /* Seccion porque elegir argec */

  .container-argec {
    padding: 22px 0 0 0;
  }

  .argec__titulo {
    margin: 0;
    text-align: center;
  }

  .argec__respuesta {
    margin: 0;
    padding: 18px;
    text-align: center;
  }

  .argec__contenedor-imagen {
    width: 100%;
  }

  .argec__contenedor-imagen img {
    width: 100%;
    height: 100%;
  }

  .argec__contenedor {
    justify-content: center;
    flex-direction: column;
  }

  .argec__contenedor-items {
    width: 100%;
  }

  .argec__item {
    flex-direction: column;
    height: 180px;
    gap: 14px;
  }

  .argec__item-icono {
    height: 65px;
    width: 65px;
  }

  .argec__item-icono i {
    font-size: 40px;
  }

  .argec__item-info {
    text-align: center;
  }

  .argec__item-info h5 {
    font-size: 20px;
  }

  .argec__item-info p {
    font-size: 16px;
  }

  /* Seccion clientes */

  .clientes {
    height: auto;
  }

  .clientes__items {
    justify-content: center;
  }

  .cliente__item {
    width: 320px;
  }

  .clientes__contenedor {
    align-items: center;
    padding: 40px 0;
  }

  .clientes__contenedor h2 {
    width: 700px;
  }
}