@media screen and (min-width: 768px) and (max-width: 1023px){
  .header__menu {
    position: fixed;
  }

  .header__fondo {
    padding: 140px 44px 30px 44px;
  }

  .volver {
    display: none;
  }

  .post {
    padding: 12px;
    display: flex;
    flex-direction: column;
  }

  .post__imagen {
    width: 700px;
    margin: 50px auto;
  }

  .epigrafe span {
    font-size: 12px;
    font-weight: 500;
  }

  .post__contenido {
    width: 720px;
    margin: auto;
    text-wrap: wrap;
    font-size: 18px;
    font-weight: 500;
  }

  .post__contenido h5 {
    margin: 22px 0 8px 0;
  }

  .post__contenido p {
    margin: 10px 0;
  }

  aside {
    margin: 40px 0;
    gap: 100px;
  }

  .buscador {
    width: 700px;
    margin: 22px auto;
  }

  .post__ultimos h4 {
    text-align: center;
    font-size: 34px;
  }

  .card {
    width: 680px;
    height: 120px;
    margin: auto;
  }

  .first-content {
    justify-content: space-between;
  }

  .first-content img {
    width: 200px;
  }

  .first-content p {
    width: 440px;
    margin-right: 10px;
    font-size: 22px;
  }

  .card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.04);
  }

}