/* Header */

.header {
  height: 70vh;
}

.header__menu {
  position: static;
}

.header__titulo {
  height: calc(100% - 6rem);
  background-image: url(../img/patron1.jpg);
}

.header__fondo {
  background-color: #1a6affee;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 0 0 0;
}

.header__fondo h1 {
  color: #fff;
  font-weight: 500;
  font-size: 5rem;
}

/* Seccion Acerca nuestro */

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding-top: 80px;
}

.about__contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1100px;
  padding: 30px 30px;
}

.about__fundador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  width: 100%;
  background: rgb(2,72,172);
  background: linear-gradient(180deg, rgba(2,72,172,1) 14%, rgba(255,255,255,1) 64%);
  padding: 20px 0 0 0;
}

.about__fundador h4 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
}

.about__fundador img {
  height: 200px;
}

.about__contenido {
  margin: 20px 0;
}

.about__contenido p {
  line-height: 28px;
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 500;
}
