/* Tarjeta */

.tarjeta {
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
}

.tarjeta-contenedor{
  background: rgba(0, 133, 249, 0.712);
  background: linear-gradient(90deg, rgba(0, 133, 249, 0.767) 44%, rgba(60, 0, 255, 0.74) 94%);
  height: 250px;
  border-radius: 40px;
}

.tarjeta-contenedor-color {
  display: flex;
  height: 250px;
  align-items: center;
  padding: 40px;
  gap: 20px;
}

.logo img {
  height: 110px;
}

.info {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  width: 400px;
}

.info div {
  margin-top: 20px;
}

/* Servicios */

.servicios {
  width: 1100px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servicios__contenedor {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 340px;
  height: 280px;
  position: relative;
  border-radius: 20px;
}

.img {
  position: absolute;
  top: 8px;
  left: 20px;
  opacity: .09;
}

.img img {
  height: 80px;
}

.servicios__contenedor-tarjeta {
  margin: 80px auto 0 auto;
  width: 300px;
  text-align: center;
}

.servicios__contenedor-tarjeta h4 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.servicios__contenedor-tarjeta p {
  font-size: .9rem;
}

.card:hover{
  background-color: #0249acd8;
  color: #fff;
}

.servicios-boton {
  height: 60px;
  width: 150px;
  border-radius: 18px;
  background-color: #d86b27;
  margin-top: 60px;
}

.servicios-boton a {
  height: 60px;
  width: 150px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
}

.servicios-boton:hover {
  background-color: #aa521c;
}

/* Trabajo */

.trabajo {
  width: 1100px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
}

.trabajo__contenedor {
  height: 400px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center
}

.trabajo__contenedor-tarjeta {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.card-trabajo {
  border-radius: 20px;
  transition: all .3s;
}

.card-trabajo-card {
  border-radius: 18px;
  transition: all .2s;
}

.card-trabajo-card:hover {
  border-radius: 20px;
}

.card-trabajo:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 1px #3c83e6;
}

.trabajo__contenedor-tarjeta h4 {
  color: #9c0490;
}

.trabajo__contenedor-tarjeta p {
  font-size: 12px;
  color: #42026d;
}

/* Porque elegir ARGEC - IT Consulting? */

.argec {
  height: 100vh;
  width: 100%;
  background-color: #393cfc;
}

.argec-titulo {
  color: #fff;
  margin: 12px 80px 0;
  font-size: 2.6rem;
  text-transform: uppercase;
}

.argec-respuesta {
  color: #fff;
  font-weight: 500;
  margin: 13px 80px;
}

.argec-contenedor {
  display: flex;
  margin-top: 40px;
}

.argec-contendor-1 {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.argec-item {
  display: flex;
  margin: 0 85px;
  height: 60px;
  align-items: center;
}

.argec-item-contenedor {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9c0490;
  border-radius: 10px;
  margin: 0 10px;
}

.argec-item-contenedor i {
  font-size: 28px;
  color: #fff;
}

.argec-item-contenedor-info h5 {
  font-size: 17px;
  color: #fff;
  margin-bottom: 4px;
}

.argec-item-contenedor-info p {
  font-size: 13px;
  color: #fff;
}

.argec-contenedor-2 img {
  height: 400px;
  width: 100%;
}