@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

/* Header */

.header {
  width: 100%;
  height: 100vh;
  position: relative;
}

.header__slider-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: .5;
  z-index: 100;
}

.header__slider-box ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 24s infinite alternate ease-in-out;
}

.header__slider-box li {
  width: 100%;
  list-style: none;
  position: relative;
}

.header__slider-box img {
  width: 100%;
}

@keyframes slide {
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}

.header__menu {
  position: absolute;
  height: 96px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.575);
}

.frase {
  position: absolute;
  top: 6rem;
  height: 518px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.frase p:first-child {
  width: 1000px;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 80px;
}

.frase p:nth-child(2) {
  width: 700px;
  font-size: 1.15rem;
  text-align: center;
  margin-top: 20px;
}

.frase a {
  height: 50px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  background-color: royalblue;
  margin-top: 100px;
  border-radius: 20px;
}

.header__menu-logo {
  width: 340px;
  margin-left: 80px;
}

nav {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.header__menu-items {
  display: flex;
  gap: 1.3rem;
}

.header__menu-links {
  list-style: none;
}

.header__menu-links a {
  color: #000000;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 20px;
}

.header__menu-links a:hover {
  border-bottom: 1px #000 solid;
  font-weight: 700;
  border-bottom-style: dashed;
}

.header__menu-links--active a {
  border-bottom: 1px #000 solid;
  font-weight: 700;
}

/* Menu responsive */

.checkbtn {
  font-size: 30px;
  color: #000;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* Footer */

.footer {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  height: 5rem;
  margin-left: 80px;
}

.footer__redes {
  display: flex;
  gap: 10px;
  padding-right: 4rem;
}

.footer__redes a {
  color: #000;
  text-decoration: none;
}

.footer__redes i {
  font-size: 22px;
}

.footer__redes a:hover {
  transform: scale(1.2);
}

/* Tablet */

@media screen and (min-width: 767px) and (max-width: 1023px){
  .header {
    height: 59.8vh;
  }

  .header__menu {
    width: 100%;
    justify-content: space-between;
    z-index: 20;
  }
  
  .checkbtn {
    display: block;
    margin-right: 40px;
  }

  .header__menu-items {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    position: fixed;
    width: 100%;
    height: 40vh;
    background-color: rgb(255, 255, 255);
    left: 0;
    top: -100%;
    text-align: center;
    transition: all .5s;
  }
  
  #check:checked ~ ul {
    top: 6rem;
  }

  .header__menu-logo {
    width: 18rem;
    margin-left: 40px;
  }

  .header__slider-box {
    height: 100%;
    position: relative;
    top: 6rem;
    z-index: 0;
  }

  .header__slider-box img {
    height: 100%;
  }

  nav {
    margin-right: 0;
  }

  .header__menu-links--active a {
    border: none;
    font-weight: 500;
  }

  .frase {
    height: 100%;
    gap: 20px;
  }
  
  .frase p:first-child {
    width: 100%;
    font-size: 2.2rem;
    margin-top: 140px;
  }
  
  .frase p:nth-child(2) {
    width: 600px;
    font-size: 1.2rem;
    margin-top: 0;
  }
  
  .frase a {
    height: 50px;
    width: 120px;
    font-size: 1rem;
    margin-top: 50px;
    border-radius: 20px;
  }  

  /* Footer */

  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 12rem;
  }

  .footer__logo {
    margin-left: 0;
  }
  
  .footer__redes {
    margin-top: 20px;
    padding-right: 0;
    width: 100%;
    justify-content: center;
  }
  
  .footer__redes i {
    font-size: 35px;
  }
}


/* Mobile */

@media (max-width: 767px) {
  .header {
    height: 42.5vh;
    margin-bottom: 110px;
  }

  .header__menu {
    width: 100%;
    justify-content: space-between;
    z-index: 20;
  }
  
  .checkbtn {
    display: block;
    margin-right: 28px;
  }

  .header__menu-items {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    position: fixed;
    width: 100%;
    height: 40vh;
    background-color: rgb(255, 255, 255);
    left: 0;
    top: -100%;
    text-align: center;
    transition: all .5s;
  }
  
  #check:checked ~ ul {
    top: 6rem;
  }

  .header__menu-logo {
    width: 11rem;
    margin-left: 28px;
  }

  .header__slider-box {
    height: 100%;
    position: relative;
    top: 6rem;
    z-index: 0;
  }

  .header__slider-box img {
    height: 100%;
  }

  nav {
    margin-right: 0;
  }

  .header__menu-links--active a {
    border: none;
    font-weight: 500;
  }

  .frase {
    max-height: 260px;
    justify-content: center;
    gap: 20px;
  }
  
  .frase p:first-child {
    width: 100%;
    font-size: 2rem;
    margin-top: 0;
  }
  
  .frase p:nth-child(2) {
    width: 100%;
    font-size: .9rem;
    margin-top: 0;
  }
  
  .frase a {
    height: 50px;
    width: 120px;
    font-size: 1rem;
    margin-top: 0;
    border-radius: 20px;
  }  

  /* Footer */

  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 12rem;
  }

  .footer__logo {
    margin-left: 0;
  }
  
  .footer__redes {
    margin-top: 20px;
    padding-right: 0;
    width: 100%;
    justify-content: center;
  }
  
  .footer__redes i {
    font-size: 35px;
  }
}
