/* Medidas para mobile */

@media screen and (max-width: 767px) {
  .header {
    height: auto;
  }
  
  .header__menu {
    position: fixed;
    z-index: 1000;
  }
  
  .header__titulo {
    height: 200px;
    margin-top: calc(200px - 6rem);
    background-image: url(../img/patron1.jpg);
  }

  .header__titulo h1 {
    font-size: 3rem;
  }
  
  .header__fondo {
    align-items: center;
    padding: 0;
  }

  .formulario__contenedor {
    width: 100%;
  }

  .formulario__texto {
    text-align: center;
  }

  form {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formulario__input input {
    width: 340px;
  }

  .formulario__input textarea {
    width: 340px;
  }

  .imagen {
    display: none;
  }
}