/* Medidas para mobile */

@media (max-width: 858px) {
  .formulario__contenedor {
    width: 100%;
  }

  .formulario__texto {
    text-align: center;
  }

  form {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formulario__input input {
    width: 340px;
  }

  .formulario__input textarea {
    width: 340px;
  }

  .imagen {
    display: none;
  }
}