/* Medidas para mobile */

@media screen and (max-width: 767px) {
  /* Seccion tarjeta */
  
  .tarjeta {
    margin: 0;
    padding: 100px 0;
    /* height: 52vh; */
    height: auto;
  }

  .tarjeta__contenedor {
    height: 340px;
    width: 350px;
    flex-direction: column;
    border-radius: 24px;
    justify-content: center;
    background: rgb(0, 133, 249);
    background: linear-gradient(180deg, rgba(26, 212, 245, 0.877) 44%, rgba(60, 0, 255, 0.74) 94%);
  }

  .tarjeta__logo img {
    height: 80px;
  }

  .tarjeta__info {
    width: 300px;
  }

  /* Seccion Nuestros Servicos */

  .servicios {
    height: auto;
  }

  .servicios__titulo {
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }

  .servicios__contenedor {
    flex-wrap: wrap;
    justify-content: center;
  }

  .servicios__contenedor-tarjeta {
    width: 350px;
  }

  /* Separador */
  
  .separador {
    height: 70vh;
    padding: 0;
    top: 0;
    align-items: center;
  }

  .separador-img {
    width: 100%;
    height: 500px;
    border-radius: 0;
  }

  .separador-contenedor {
    flex-direction: column;
    width: 100%;
    height: 500px;
  }

  .imagen {
    width: 100%;
    height: 100%;
  }

  .separador-frase {
    width: 100%;
    height: 410px;
    padding: 0 10px;
    text-align: center;
  }

  /* Seccion nuestra forma de trabajar */

  .trabajo {
    height: auto;
  }

  .titulo__trabajo {
    text-align: center;
    margin-top: 26px;
  }

  .trabajo__contenedor {
    height: auto;
    margin: 20px 0 100px 0;
    gap: 20px;
  }

  .trabajo__tarjeta {
    width: 300px;
    height: 380px;
    justify-content: center;
  }

  .trabajo__tarjeta-info {
    width: 100%;
    height: auto;
  }

  .trabajo__tarjeta-info p {
    font-size: 1rem;
    font-weight: 500;
  }

  /* Seccion porque elegir argec */

  .container-argec {
    padding: 22px 0 0 0;
  }

  .argec__titulo {
    margin: 0;
    text-align: center;
  }

  .argec__respuesta {
    margin: 0;
    padding: 18px;
    text-align: center;
  }

  .argec__contenedor-imagen {
    display: none;
  }

  .argec__contenedor {
    justify-content: center;
  }

  .argec__contenedor-items {
    width: 100%;
    margin-bottom: 60px;
  }

  .argec__item {
    flex-direction: column;
    height: 180px;
    gap: 14px;
  }

  .argec__item-icono {
    height: 65px;
    width: 65px;
  }

  .argec__item-icono i {
    font-size: 40px;
  }

  .argec__item-info {
    text-align: center;
  }

  .argec__item-info h5 {
    font-size: 20px;
  }

  .argec__item-info p {
    font-size: 16px;
  }

  /* Seccion clientesl */

  .clientes {
    height: 75vh;
  }

  .clientes__imagen {
    align-items: start;
    background-position: -110px;
  }

  .clientes__contenedor {
    padding-top: 10px;
  }

  .clientes__items {
    justify-content: center;
    align-items: center;
  }
}